<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Create a new query</h3>
</div>
<div class="modal-body" id="modal-body">
  <form class="form-horizontal">
    <div class="form-group" ng-class="classHasError('word')">
      <label class="col-sm-2 control-label" for="queryWord">Word</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="queryWord" ng-model="fields.word" placeholder="Example">
        <span class="help-block" ng-if="hasError('word')">This field must not be empty</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="queryModel">Model</label>
      <div class="col-sm-10">
        <select name="queryModel" id="queryModel" ng-model="selectedModel">
          <option ng-repeat="model in models" value="{{ model.id }}">{{ model.name }}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="ok()">Query</button>
</div>
